@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");

.photo-album-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.photo-album-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 90vh;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.photo-album-modal.cover-mode {
  background: white;
  width: 50vw;
  height: 70vh;
  max-width: 600px;
  max-height: 800px;
}

.photo-album-modal.open-mode {
  transition: all 0.5s ease-in-out;
  width: 80vw;
  height: 90vh;
  max-width: 1200px;
  max-height: 800px;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  animation: bookOpen 1s ease-out forwards;
}

.fake-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
  z-index: -1;
}

.fake-cover img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.click-to-open {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.close-button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.page {
  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.page img {
  width: 75%;
  height: 45%;
  object-fit: cover;
}

.cover-page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-title {
  font-size: 32px;
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
}

.img-description {
  font-size: 16px;
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
}

.navigation {
  height: 80%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.navigation button {
  padding: 10px 15px;
  border: none;
  background: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.navigation button:hover {
  background: #555;
}

.photo-album-modal {
  transform: scale(1);
  transition: transform 0.8s ease-in-out;
}

.photo-album-modal.closing {
  transform: scale(0.5);
  transition: transform 0.8s ease-in-out;
}

@keyframes openModal {
  0% {
    transform: scale(0.5); /* Inicia pequeña */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* Termina en su tamaño normal */
    opacity: 1;
  }
}

@keyframes bookOpen {
  0% {
    transform: scale(0.5), rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  100% {
    transform: scale(1), rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
}
