main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SnowText {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.sparticles {
  position: absolute;
  z-index: -1;
}
